<template>
  <div class="home">
    <h1>These are your todolists</h1>
    <div class="todo-card-container-all">
      <TodoCard class="todo-invidual-card" v-for="todo in todos" :key="todo.id" :todo="todo"/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import TodoCard from '@/components/TodoCard.vue';
// import {mapState} from "vuex";

export default {
  components:{
    TodoCard
  },
  data(){
    return {
      msg:"hello"
    }
  },
  created(){
    
  },
  computed:{
    todos(){
      return this.$store.state.todos
    }
}
}
</script>

<style scoped>
  .todo-card-container-all{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .todo-invidual-card{
    margin-right: 5em;
  }

</style>