<template>
  <div>
    <h1>Create a todo </h1>  
    <form class="todo-form" @submit.prevent="createTodo">
      <h3 class="todo-input-group-title">Title your todolist</h3>
      <div class="field">
        <label >Title</label>
        <input v-model="todo.title" type="text" placeholder="Add a todolist title">
      </div>
      <div class="field">
        <label >Frist task</label>
        <input v-model="todo.todolist[0].name" type="text" placeholder="Add a todo">
      </div>
      <div class="field">
        <label >Second task</label>
        <input v-model="todo.todolist[1].name" type="text" placeholder="Add a todo">
      </div>  
      <div class="field">
        <label >Third task</label>
        <input v-model="todo.todolist[2].name" type="text" placeholder="Add a todo">
      </div>       
      <button class="todo-submit-btn" type="submit">Submit</button>
    </form>    
  </div>
</template>

<script>



export default {
    data(){
      return {
        todo : this.createFreshTodoObject()
      }
    },
    methods:{
      createTodo(){
        console.log(this.todo.id, this.todo, "todo id wwwwwww");
        this.$store.dispatch('createTodo', this.todo)
        this.$router.push({
            name:"todos-list",
            
          })
        this.todo = this.createFreshTodoObject();
         
      },
      createFreshTodoObject(){
        let id = Math.floor(Math.random() * 10000000);
        let id1 = Math.floor(Math.random() * 10000);
        let id2 = Math.floor(Math.random() * 10000);
        let id3 = Math.floor(Math.random() * 10000);
        return {
          id,
          title:"",
          todolist:[
            {id:id1, name:"", done:false},
            {id:id2, name:"", done:false},
            {id:id3, name:"", done:false},
          ]
        }
      }
    }
}
</script>

<style scoped>
.todo-form{
  display: grid;
  grid-template-columns: 0.35fr;
  grid-template-rows: auto;
  justify-content: center;

}
  .field{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  .field input,select{
    height: 2.5em;
    padding-left: 0.7em;
  }
  .field input{
    padding-left: 0.7em;
  }
  .field label{
    font-weight: 550;
    text-align: left;
    margin-bottom: 0.5em;
  }
  .vdp-datepicker{
    display: flex;
    justify-content: center;
    width: initial;
  }
  
  .todo-input-group-title{
    font-size: 22px;
  }
  .field select{
    border: none;
  }
  .todo-submit-btn{
    border: none;
    height: 2.5em;
    color:white;
    background-color: cornflowerblue;
  }
</style>
