<template>
 <div>
   <div v-if="getTodo" class="todos-container">
     <div v-if="!toggleTitle" class="todo-title-container"><h1>This is {{ getTodo.title }}  todo </h1>
     <span @click="onToggleTitle">&#9997;</span>

     </div>
 
        <div v-if="toggleTitle"  class="title-form-container">
            <div class="form-group title-form-container"> <label for="todolist-title" class="col-form-label">Title:</label>
              <input  v-model="newTitle" type="text" class="form-control " id="todolist-title"></div>
              <span class="update-title-btn" @click="updateTodolistTitle">  &#10004;</span>
          </div>
    
    <div  class="list-group" >
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Done</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(todo, index) in getTodo.todolist" :key="todo.id">
                <th scope="row">{{index+1}}</th>
                <td :class="[getTodo.todolist[index].done ? 'done':'']">{{getTodo.todolist[index].name}}</td>
                <td>{{getTodo.todolist[index].done}}</td>
                <td><button class="custom-btn delete" @click="removeTaskFromTodolist(index)">Delete</button></td>
                <td><button @click="sendData(getTodo.todolist[index], index, getTodo.id)" 
                type="button" 
                class="custom-btn edit"
                data-toggle="modal" 
                data-target="#exampleModal" 
                data-whatever="@mdo">
                Edit
                </button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" 
    tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update the task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form @submit.prevent="updateTodoFromTodolist">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Task:</label>
            <input v-model="newTask.name" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group checkbox">
            <label for="message-text" class="col-form-label">Done:</label>
            <input type="checkbox" v-model="newTask.done"  id="message-text">
          </div>
          <button type="submit" class="edit-form" >Edit</button>
        </form>
      </div>
      
    </div>
  </div>
</div>







  </div>
  <p v-else>...loading</p>
 </div>
</template>

<script>



export default {     
  props:["id"],
  data(){
    return {
      toggleTitle:false,
      newTitle: this.getCurrentTitle(),
      newTask: {
        id:"",
        name: "",
        done:""
      }
    }
  },
  computed:{
      getTodo(){
        
          return this.$store.state.todos.find((todo ) => todo.id == this.id);
      }
  },
  methods:{
      
      sendData(curTaskObj,  index, id){
        this.newTask.name = curTaskObj.name;
        this.newTask.done = curTaskObj.done;
        this.newTask.id = curTaskObj.id;
        this.newTask.idx = id;
        this.newTask.taskIdx = index;
      },
      updateTodoFromTodolist(){
        this.$store.dispatch('updateTodoFromTodolist', {newTask:this.newTask});
         
        this.newTask = {
        id:"",
        name: "",
        done:""
      }
      },
      removeTaskFromTodolist(taskIdx){
        this.$store.dispatch('removeTaskFromTodolist', {todoId:this.id,taskIdx })
      },
      updateTodolistTitle(){
        this.$store.dispatch('updateTodolistTitle', {todoId: this.id, newTitle: this.newTitle});
        this.toggleTitle = false;
      },
      onToggleTitle(){
        this.toggleTitle = !this.toggleTitle;
      },
      getCurrentTitle(){
        return this.$store.state.todos.find((todo ) => todo.id == this.id).title
      }
  }
}
</script>

<style scoped>
.todos-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    .todos-list li{
        list-style-type: none;
        align-self: start;
    }
    .form-group .col-form-label{
        text-align: start;
        width: 100%;
    }
    .form-group.checkbox{
        display: flex;
        width: 15%;
        justify-content:right;
    }
    .done{
      text-decoration: line-through;
    }
    .edit-form{
      border: none;
      width: 100%;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      color:white;
      background-color: cornflowerblue;
    }
    .custom-btn{
      border:none;
      padding: 0.3em 1em;
      color: white;
    }
    .custom-btn.edit{
      background: cornflowerblue;

    }
    .custom-btn.delete{
      background: #ff4d4d;
      
    }
    .todo-title-container{
      display: flex;
      justify-content: center;
    }
    .todo-title-container span{
      font-size: 30px;
      font-weight: 700;
      cursor: pointer;
    }
    .update-title-btn{
      font-size:25px;
      font-weight:700;
      cursor:pointer;
      box-sizing:border-box;
    }
    .title-form-container{
      width:60%;
      display:flex;
      justify-content:center;
    }
    .title-form-container .form-group .col-form-label[data-v-34c065c6]{
      width: 50%;
      text-align:unset;
      font-weight:700;
    }
    .form-group.checkbox{
    display: flex;
    align-items: center;
}

</style>