<template>
  
    <div class="todo-card">
      <div class="todo-card-header">
        <span class="todo-id">@{{todo.id}}</span>
      
          
        <span class="trash-icon" @click="toggleRemove">&#128465;</span>
      </div>
      
        <h5 class="todo-title">{{ todo.title }}</h5>
        <ol class="task-container">
          <li :class="[task.done ? 'done':'']" v-for="task in todo.todolist" :key="task.id">{{task.name}}</li>
        </ol>
       <router-link  :to="{name:'todo-show', params:{id: todo.id}}">
       <div class="go-container"><span class="go-icon">&#10149;  </span></div>
       </router-link>
    </div>
 
</template>

<script>
  export default {
    props:{
      todo:{
        type:Object
      }
    },
    methods:{
      removeTodo(todoId){
        
        this.$store.dispatch('removeTodo',todoId)
      },
      toggleRemove(){
        if (confirm("Are you sure to delete the todolist?")) {
          this.removeTodo(this.todo.id)
        }         
      }
    }
  }
</script>

<style scoped>
  
  
  .todo-card{
    width: 300px;
    height: 200px;
    padding: 1em;
    transition: all 0.2 linear;
    cursor: pointer;
    text-align: left;
    padding: 1em;
    margin-bottom: 24px;
    box-shadow: 0 3px 3px 0 rgba(0, 0 ,0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.11);
  }
  .todo-card-header{
    display: flex;
    justify-content: space-between;
  }
  .todo-card-header button{
    border: none;
    font-weight: 600;
  }
  .todo-title{
    text-align: center;
    font-weight: 700;
  }
 
  .todo-link{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
  }
  .trash-icon:hover{
    transform: scale(1.2);
    transition: all 0.2s;
  }
  .go-icon{
    font-size: 2em;
    color: #42b983;
  }
  .go-container{
    text-align: right;
  }
  .task-container li.done{
    text-decoration: line-through;
  }
  .todo-id{
    font-size: 12px;
  }
</style>